@font-face{
	font-family:'FuturaPTLight-Reg';
	src:url('//d2whgtudg2hrtn.cloudfront.net/B6244AA7-9321-F818-21B7-DCD4B4E2ABE7.it.fwoff.v11.sAL2.h0.o0?Expires=1400097902&Signature=Q~6hzhJR4xWiCF7wfQnAtQqhIGjHdOYdRCrydzmAR60kBrLFdusXq2CjoeI83wdNusbVeHJJ0rJshftqvtxHTrz3PFRYyzdsVW2MAM8rm3KU99eISVKz-mjiI6TUaEEA4UDqbx6Jxtvustk0~enfhS-mMWvntxyVHWRxhiFzoi4_&Key-Pair-Id=APKAIRPJ6HGXMNBFEG4A&Project=006EB92C-AD76-43D7-AF3C-A860583AE6F0&Trans=EAC80F83-BAF9-4E40-8B2C-2F1CDD079CAD') 
	format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'FuturaPTBook-Reg';
	src:url('//d2whgtudg2hrtn.cloudfront.net/99B90B52-FC86-D532-91E2-93D2FC4AE03D.it.fwoff.v11.sAL2.h0.o0?Expires=1400097970&Signature=ZKhbhZ~N6kyDsxHajbZ81PGVElKBeWLdStJFYGAxlV1QuOwyZbrM0kdxBU7k28fJD~Ty7HuSd7uNzI6FjHqDySfY39GUc~3uUsdNUBShTFKuB2sWPRZ0zgjgn2WFYKfNoqCdz4vO-wuluNBWgyG6kJTtb9-FDNajkBpM5VfByN8_&Key-Pair-Id=APKAIRPJ6HGXMNBFEG4A&Project=006EB92C-AD76-43D7-AF3C-A860583AE6F0&Trans=EAC80F83-BAF9-4E40-8B2C-2F1CDD079CAD') 
	format('woff');
	font-weight:normal;
	font-style:normal;
}
